{% extends 'main.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/styleabonnement.css' %}">
{% endblock %}
{% block content %}
<h1> Follow someone new ! </h1>
<div class="search">
    <form action="{% url 'app:abonnements' %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit"> Follow</button>
    </form>

</div>
<h1> Users you are currently following</h1>
    <div class="listsubs">
    {% if collection %}
            {% for elem in collection %}
                <div class="user">
                <p> {{ elem.followed_user }} </p>
                <form action="{% url 'app:unfollow' id_user=elem.followed_user.id %}" method="post"><button type="submit"> Unfollow</button>
                           {% csrf_token %}
                </form>
                    </div>
            {% endfor %}
    {% else %}
        <p> Vous n'avez pas d'abonnements</p>
    {% endif %}
        </div>

{% endblock %}
