{% extends 'main.html' %}

{% block content %}
<div class="search">
    <h1>Ceci permet de gérer les abo</h1>
    <h1> Follow someone new ! </h1>
    <form action="{% url 'app:abonnements' %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit"> Follow</button>
    </form>

</div>
    <div class="listsubs">
    <h1> Users that you are currently Following</h1>
    {% if collection %}
            {% for elem in collection %}
                <li> {{ elem.followed_user }} </li>
                <p> {{ elem.followed_user.id }}</p>
                <p>Créer un bouton de Unfollow</p>
                <form action="{% url 'app:unfollow' id_user=elem.followed_user.id %}" method="post"><button type="submit"> Unfollow</button>
                           {% csrf_token %}
                </form>
            {% endfor %}
    {% else %}
        <p> Vous n'avez pas d'abonnements</p>
    {% endif %}
        </div>

{% endblock %}
