<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="../css/styleaccueil.css">
</head>
<body>
    <div class="banniere">
        <h1>Lit Review</h1>
    </div>
    <div class="choix">
        <section id="nouveau">
            <h2>Section Inscrivez-vous</h2>
            <button>S'inscrire</button>
        </section>
        <section id="utilisateur">
            <h2>Connectez-vous</h2>
            <form>
                <input> nom d'utilisateur</input>
                <input>mot de passe</input>
                <button>Se connecter</button>
            </form>
        </section>
    </div>
</body>
</html>