{% extends 'main.html' %}

{% block content %}
<div class="Create-ticket">
    {% if form.instance.id %}
        <form class="form_ticket" action="{% url 'app:creationticket' id_ticket=form.instance.id %}" method="post" enctype="multipart/form-data">
        {% else %}
            <form class="form_ticket" action="{% url 'app:creationticket' %}" method="post" enctype="multipart/form-data">
                {% endif %}
                {% csrf_token %}
                {{ form }}
                <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}