<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/stylecreationticket.css">
    <title>Création Ticket</title>
</head>
<body>
    <div class="banniere">
        <section id="litreview">
            <h1>Lit Review</h1>
        </section>
        <section id="thumbs">
            <h3>Flux</h3>
            <h3>Posts</h3>
            <h3>Abonnements</h3>
            <h3>Se déconnecter</h3>
        </section>
    </div>
    <div class="data">
        <h1>Créer un Ticket</h1>
        <label for="titre">Titre</label>
        <input type="text" id="titre">
        <label for="description">Description</label>
        <input type="text" id="description">

    </div>

</body>
</html>