{% extends 'main.html' %}

{% block content %}

<h1>Ceci permet de créer une critique en réponse à un ticket</h1>
<div class="ticket">Ticket en question</p>
    {% if formticket.instance.id %}
       <p>Titre: </p>
        {{ticket.description}}
        {{ticket.user}}

    {% else %}
    <p>La ca veut dire que ton ticket existe pas encore, insérer un form de création ticket</p>
    {% endif %}

<div class="creationreview">Review Creation</div>
    {% if formreview.instance.id %}
     <p> Insérer un form de création de ticket</p>

 <form class="form_review" action="{% url 'app:creationreview' id_ticket%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            {{ form_review }}
            <input type="submit" value="Publier">
     {% else %}

     <p>Display le form de review</p>
     {% endif %}

{% endblock %}
