{% extends 'main.html' %}

{% block content %}
    <div class="ticket/reviewbuttons">
        <button><a href="{% url 'app:creationticket' %}">New Ticket</a></button>
        <button><a href="{% url 'app:reviewfromscratch'%}"> New Review</a></button>

    </div>
{% for post in posts %}
    {% if post.content_type == 'TICKET' %}
        {% include 'ticket_snippet.html' %}
    {% elif post.content_type == 'REVIEW' %}
        {% include 'review_snippet.html' %}
    {% endif %}
{% endfor %}


    </div>
{% endblock %}