<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styleinscription.css">
    <title>Inscription</title>
</head>
<body>
    <div class="banniere">
            <h1>Lit Review</h1>
    </div>
    <div class="data">
        <h1>Inscrivez-vous</h1>
        <input type="text" placeholder="Nom d'utilisateur">
        <input type="text" placeholder="Mot de passe">
        <input type="text" placeholder="Confirmer mot de passe">
        <section class="buttons">
            <button> Retourner </button>
            <button> S'inscrire </button>
        </section>
    </div>

</body>
</html>