<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styleinscription.css">
    <title>Inscription</title>
</head>
<body>
    <div class="banniere">
            <h1>Lit Review</h1>
    </div>
    <div class="data">
        <h1>Inscrivez-vous</h1>
        <input type="text" placeholder="Nom d'utilisateur">
        <input type="text" placeholder="Mot de passe">
        <input type="text" placeholder="Confirmer mot de passe">
        <section class="buttons">
            <button> Retourner </button>
            <input> S'inscrire </input>
        </section>
    </div>
    <div class="Connexion">
        <form action="flux/" method="post">
            {% csrf_token %}
            <p>
                <label>Connectez-vous</label>
            </p>
            {{ form.username.errors }}
            {{ form }}
            <p>
                <input type="submit" value="Se connecter">
            </p>
        </form>
    </div>

</body>
</html>