<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styleinscription.css">
    <title>Inscription</title>
</head>
<body>
    <div class="Title">
        <h1> Inscription</h1>
    </div>
    <div class="Form">
        <form action="app/flux/" method="post">
            {% csrf_token %}
            {{ form }}
            <p>
                <input type="submit" value="Se connecter">
            </p>
            </form>
        <p> Howdy</p>
    </div>

</body>
</html>