<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="..css/stylemain.css">
    <link rel="icon" type="image/png" sizes="187x209" href=..images/logo.png">
    <title>Lit Review</title>
</head>
<body>
t'es sur le main template
    <div class="banniere">
        <section id="litreview">
            <h1>Lit Review</h1>
        </section>
        <section id="thumbs">
            <button onclick="location.href='http://localhost:8000/app/inscription/'">Flux</button>
            <button onclick="location.href='http://localhost:8000/app/posts/'">Posts</button>
            <button onclick="location.href='http://localhost:8000/app/abonnements/'">Abonnements</button>
            <button onclick="location.href='http://localhost:8000/app/deconnexion/'">Se déconnecter</button>
        </section>
    </div id="content" name="content">
    {% block content %}
    <div>

    </div>
    {% endblock %}
</body>
</html>