<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lit Review</title>
</head>
<body>

    <div class="banniere">
        <section id="litreview">
            <h1>Lit Review</h1>
        </section>
            <section id="thumbs">
                <nav>
                    <button><a href="{% url 'app:flux' %}">Flux</a></button>
                    <button><a href="{% url 'app:posts' %}">Posts</a></button>
                    <button> <a href="{% url 'app:abonnements' %}">Abonnements</a></button>
                    <form class="liendeco" action="{% url 'app:deconnexion' %}" method="post">
                        {% csrf_token%}
                        <button type="submit" value="deconnexion">Se déconnecter</button>
                    </form>
                </nav>
            </section>
    </div>
    {% block content %}

    {% endblock %}

    <div class="footer">
        <p> Bande de footers:</p>
        <p> OPC-DA-PYTHON- Pierre Lesage December 2021</p>
    </div>
</body>
</html>