.title {
    display: flex;
    justify-content: center;
}
.postsperso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


.ticketsnippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}