body {
    display: flex;
    flex-direction: column;
    }

.banniere {
    display: flex;
    flex-direction: row;
}

#litreview {
    flex-grow: 1;
}
#thumbs {
    display:flex;
    flex-grow: 4;
    align-items : flex-end;

}


.ticketsnippet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewsnippet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    color: black;
    font-weight: Italic;
}