body {
    display: flex;
    flex-direction: column;
    border: black solid 3px;
}
 .banniere {
    display: flex;
    border-bottom: black solid 3px;
    justify-content: space-evenly;
 }
 .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
section {
    display: flex;
    flex-direction : row;
 }